<header>

<mat-toolbar>
        <h1 _ngcontent-c1="" style="padding: 1.3rem">REST</h1>
       <h3 _ngcontent-c1="" style="padding: 1.3rem">Profile</h3>
        <h3 _ngcontent-c1="" style="padding: 1.3rem">About</h3>
        <h3 _ngcontent-c1="" style="padding: 1.3rem">Contact us</h3>
        <h3 _ngcontent-c1="" style="padding: 1.3rem">Logout</h3>
      </mat-toolbar>
   
<!-- Sanjay -->
        <!-- <a [routerLink]="['/Dashboard']">Dashboard</a> -->

        <!-- <router-outlet></router-outlet> -->
</header>
